:root{
    --Footer: #B8D8BE;
    --Header: #F8F4F3;
    --Background: #F2F3F5;
    --Font: #896b45;
    --Whatsapp: #5cf978;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: var(--Background);
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    font-weight: 700;
}

a{
    padding: 0.5rem;
}

header{
    background-color: #D2E7D6 ;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;

}

#logo{
    width: 10rem;
}

.link{
   color:var(--Font);
   text-decoration: none; 
   background-color: none;
   margin: 1%;
}

footer{
    background-color:var(--Footer);
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
div{
    
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}
#info{
    margin-left: 5px;
    margin-right: 10px;
    width: 30vw;
}

#whats{
    width: 2.5rem;
}

#reserve{
    background-color: #D2E7D6;
    border: 0;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    padding: 5px;
    outline: none;
}

ul {
    display: flex;
    list-style: none;
  }
  li {
    margin: 20px;
  }
  img {
    transition: all 1s;
  }
  .little-images {
    width: 100px;
    height: 70px;
    border-radius: 5px;
    transition: 0.5s;
  }
  .little-images:hover {
    transform: scale(1.1);
  }
  .container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  #slider {
    width: 600px;
    height: 300px;
    border-radius: 5px;
  }
  #slider:hover {
    transform: scale(1.1);
  }

  button{
      background-color: #5cf978;
      border: 0;
      border-radius: 5px;
      display: flex;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    padding: 5px;
    outline: none;
  }

  button a{
    color: #FFFFFF;
    text-decoration: none; 
    background-color: none;
    margin: 1%;
  }


  h1{
      margin-bottom: 10px;
  }