:root{
    --Footer: #B8D8BE;
    --Header: #F8F4F3;
    --Background: #F2F3F5;
    --Font: #896b45;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: var(--Background);
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    font-weight: 700;
}

a{
    padding: 0.5rem;
}

header{
    background-color: #D2E7D6 ;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;

}

#logo{
    width: 10rem;
}

.link{
   color:var(--Font);
   text-decoration: none; 
   background-color: none;
   margin: 1%;
}

footer{
    background-color:var(--Footer);
    padding: 4px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
div{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
button{
    background-color: #D2E7D6;
    border: 0;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    padding: 4px;
    outline: none;
}

img{
    padding-left: 15px;
    margin-right: 5px;
}

input{
    color: #896b45;
    border: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    padding: 4px;
    outline: none;
}